@import url("form.css");
@import url("login.css");

body {
  font-family: sans-serif;
  font-size: 12px;
  color: #000;
  background-color: #FFF;
  margin: 0px;
  padding: 0px;
}

#warp {
  background-image: url("../images/middle.jpg");
  background-repeat: repeat-y;
  background-position: 50% 0%;
  text-align: center;
}

#header {
  background-image: url("../images/top.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  height: 109px;
  margin: 0px;
  padding: 0px;
}

.title{
  margin: 0px;
  font-family: serif;
  font-size: 28px;
  color: #722;
  text-align: center;
 
}

.subtitle{
  margin: 0px 0px 40px 0px;
  font-family: serif;
  font-size: 14px;
  color: #722;
  text-align: center;
}

#petition_menu, #petition_management_menu {
  padding: 0px;
  margin: auto;
  position: relative;
}

#petition_menu ul, #petition_menu li,
#petition_management_menu ul, #petition_management_menu li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline;
}

#petition_menu a,
#petition_management_menu a {
  color: #722;
  font-size: 16px;
  font-weight: 800;
  font-size: 14px;
  text-decoration: none;
  padding: 0px 10px;
}

#content {
  margin: auto;
  width: 650px;
  text-align: justify;
  position: relative;
}

a {
  color: #000;
}

#footer {
  background-image: url("../images/bottom.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  margin-top: -25px;
  height: 100px;
  max-height: 60px;
  padding-top: 40px;
  color: #A77;
}

#footer a {
  color: #A77;
  text-decoration: none;
}

table{
  border: 2px solid black;
  width: 100%;
  text-align: center;
}

ul#manage_signatures {
	list-style-type: none;
	display: block;
	position: absolute;
	text-align: center;
	width: 300px;
	left: 50%;
	margin-left: -150px;
}

ul#manage_signatures li a {
	display: block;
	float: left;
	margin: 0 10px;
}

ul#manage_signatures li a:hover {
	text-decoration: none;
}

div#all_signatures {
	display: block !important;
	color: #c00;
	margin: 20px;
	font-size: 1.7em;
	text-align: center;
}

input#petition_submit {
	border: 1px solid #333;
	background-color: #eee;
}
