<h1><%= @research.title %></h1>

<h2><%= @research.subtitle %></h2>

<%= render :partial => 'admin/researches/research_options' %>

<%#=  t(:edit_moderators) %>

<%# form_tag attribute_admin_research_moderators_path, :method => :put do %>
  <ul>
    <%# for moderator in @gusers %>
      <li>
        <%#= check_box_tag "moderator_ids[]", moderator.id, @moderators.member?(moderator) %>
        <%#= moderator.login %>
      </li>
    <%# end %>
  </ul>
  <%#= submit_tag t(:attribute_moderators) %>
<%# end %>
