<%= title  @survey.title %>

<%= subtitle  @survey.subtitle %>

<%= render :partial => 'survey_options', :locals => {:survey => @survey } %>


<p class="introduction">
  <%= @survey.introduction %>
</p>

