
[submodule "vendor/plugins/restful-authentication"]
	path = vendor/plugins/restful-authentication
	url = gitosis@projects.safernet.org.br:restful-authentication.git
[submodule "vendor/plugins/rails_rcov"]
	path = vendor/plugins/rails_rcov
	url = gitosis@projects.safernet.org.br:rails_rcov.git
[submodule "vendor/plugins/snsafernet_helpers"]
	path = vendor/plugins/snsafernet_helpers
	url = gitosis@projects.safernet.org.br:snsafernet_helpers.git
[submodule "vendor/plugins/populator"]
	path = vendor/plugins/populator
	url = gitosis@projects.safernet.org.br:populator.git
[submodule "vendor/plugins/selenium-on-rails"]
	path = vendor/plugins/selenium-on-rails
	url = gitosis@projects.safernet.org.br:selenium-on-rails.git
[submodule "vendor/plugins/resource_controller"]
	path = vendor/plugins/resource_controller
	url = gitosis@projects.safernet.org.br:resource_controller.git
[submodule "vendor/plugins/doc_browser"]
	path = vendor/plugins/doc_browser
	url = gitosis@projects.safernet.org.br:doc_browser
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = gitosis@projects.safernet.org.br:will_paginate
[submodule "vendor/plugins/design"]
	path = vendor/plugins/design
	url = gitosis@projects.safernet.org.br:design
[submodule "vendor/plugins/access_control"]
	path = vendor/plugins/access_control
	url = gitosis@projects.safernet.org.br:access_control
[submodule "vendor/plugins/i18n_parser"]
	path = vendor/plugins/i18n_parser
	url = gitosis@projects.safernet.org.br:i18n_parser.git
[submodule "vendor/plugins/tiny_mce"]
	path = vendor/plugins/tiny_mce
	url = gitosis@projects.safernet.org.br:tiny_mce
