
<ul id="list_items">
  <% @items.each do |item| %>
    <li id="item_<%= item.id %>"> <%= item.info + "  id:" + item.id.to_s %> </li>
  <% end %>
</ul>

<%= 
  sortable_element 'list_items', 
        :complete => visual_effect(:highlight, 'list_items'), 
        :url => { :action => "reorder_items"},
        :failure => "$('error').innerHTML= request.responseText",
        :constraint => false,
        :dropOnEmpty => true,
        :containment =>  ['list_items']
%>
<%= params.inspect %>

