<h1><%= title t(:listing_researches) %></h1>

<ul class="listing">
  <% @researches.each do |research| %>
    <li> 
      <%= link_to research.title, research_url(research.id) %> 
    </li>
  <% end %>
</ul>

