<%= title t(:listing_researches) %>

<ul>
  <% @researches.each do |research| %>
    <li> 
      <%= link_to research.title, object_url(research) %> 
      <%= research.is_private? ? design_display_icon('private', t(:private)) : '' %>
    </li>
  <% end %>
</ul>

