<%= title _("Listing Researches") %>

<table>
  <tr>
    <th>Name</th>
    <th>Introduction</th>
  </tr>
  <%- @researches.each do |research|%>
    <tr>
      <td><%=h research.name %></td>
      <td><%=h research.introduction %></td>
    
      <td><%=link_to 'Show', object_url(research) %></td>
    </tr>
  <% end %>
</table>
<br/>

