<%= title t(:listing_researches) %>

<ul>
  <% @researches.each do |research| %>
    <li> 
      <%= link_to research.title, new_research_questionnaire_url(research.id) %> 
    </li>
  <% end %>
</ul>

