<p>
  <b>Name:</b>
  <%=h @research.name %>
</p>

<p>
  <b>Introduction:</b>
  <%=h @research.introduction %>
</p>


<%= link_to 'Edit', edit_research_path(@research) %> |
<%= link_to 'Back', researches_path %>
