html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  z-index: 1;
  background-color: #e6f9ff;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Helvetica, Verdana, Arial, Sans-serif;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  padding: 8px 20px; }

h1 {
  font-size: 26px;
  font-weight: bold;
  color: #001c4d;
  text-align: center;
  margin: 0 auto;
  position: relative;
  width: 50%;
  clear: both;
  padding-bottom: 5px; }

h2 {
  font-size: 20px;
  font-weight: bold;
  color: #001c4d;
  text-align: center;
  margin: 0 auto;
  position: relative;
  width: 50%;
  clear: both; }

p.title {
  font-size: 18px;
  font-weigth: bold;
  color: #405780; }

p.intro {
  font-align: justified; }

div.title {
  font-size: 18px;
  color: #80afff; }

li {
  padding-left: 18px;
  list-style-type: none; }

#page_links {
  padding-left: 30px;
  padding-right: 30px; }
  #page_links li {
    padding-right: 18px;
    margin: 0 18px; }

a:link, a:visited {
  color: #ff8300; }

a:hover {
  background-color: #806040;
  color: white; }

a:active {
  font-weigth: bold; }

#frame {
  position: relative;
  margin: 0 auto;
  text-align: center;
  min-width: 300px;
  width: 90%; }

#header {
  display: block;
  height: 80px;
  margin-bottom: 3px;
  background-color: #80dfff;
  padding: 20px; }
  #header span {
    color: white;
    font-size: 55px;
    float: right; }
  #header span.title {
    font-style: bold;
    font-size: 66px;
    float: left;
    color: #407080; }

#all_surveys {
  float: left;
  display: block;
  text-align: center;
  width: 10em;
  font-size: 18px;
  margin: 0 auto;
  border-width: 2px;
  border-style: solid;
  border-color: #004d32;
  -moz-border-radius: 3px;
  background-color: #e6fff6;
  color: #004d32; }
  #all_surveys a {
    color: #004d32;
    text-decoration: none; }
  #all_surveys:hover {
    background-color: #004d32;
    color: #e6fff6; }
    #all_surveys:hover a {
      background-color: inherit;
      color: #e6fff6; }

#loginb {
  background-color: lightgray;
  color: #00394d;
  float: right;
  font-size: 18px;
  border-width: 2px;
  border-style: solid;
  border-color: #00394d;
  -moz-border-radius: 3px; }
  #loginb a:link, #loginb a:hover, #loginb a:visited {
    color: #00394d;
    background-color: inherit;
    text-decoration: none; }
  #loginb ul {
    list-style-type: none; }
    #loginb ul li {
      display: inline;
      padding-left: 0; }
      #loginb ul li:first-child {
        padding-left: 8px; }
      #loginb ul li:after {
        font-decoration: bold;
        padding-left: 5px;
        content: "|"; }
      #loginb ul li:last-child:after {
        padding-right: 5px;
        content: ""; }

ul.tabs {
  list-style-type: none;
  float: left;
  display: block;
  text-align: center;
  font-size: 18px;
  margin: 0 auto 2px;
  border-width: 2px;
  border-style: solid;
  border-color: #004d32;
  -moz-border-radius: 3px;
  background-color: #e6fff6; }
  ul.tabs li.tab_item {
    float: left;
    clear: none;
    padding: 2px 8px; }
    ul.tabs li.tab_item a {
      display: block;
      float: left;
      clear: none;
      color: #004d32;
      text-decoration: none; }
    ul.tabs li.tab_item:hover {
      background-color: #004d32;
      color: #e6fff6; }
      ul.tabs li.tab_item:hover a {
        background-color: inherit;
        color: #e6fff6; }
    ul.tabs li.tab_item a.active {
      text-decoration: underline;
      font-weight: bold; }

a.toplink {
  float: left;
  clear: both; }

#content {
  margin-top: 34px !important;
  _height: 1%;
  display: block;
  background-color: white; }
  #content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

#content, #footer {
  margin: 0 auto;
  text-align: left;
  padding: 10px 6px 5px 7px;
  z-index: 1;
  margin-bottom: 8px; }

#column-1 {
  z-index: 2;
  position: relative;
  left: 0px;
  width: 170px;
  height: 100%;
  margin-bottom: 19px;
  float: left;
  clear: none;
  font-size: 110%; }
  #column-1 ul#survey_menu {
    list-style-type: none;
    margin-right: 20px;
    border-style: solid;
    border-width: 0px 0px 2px;
    border-color: #407080; }
    #column-1 ul#survey_menu li {
      padding-left: 0;
      list-style-position: inside; }
    #column-1 ul#survey_menu a {
      border-style: solid;
      border-width: 2px 2px 0;
      border-color: #407080;
      padding: 2px 20px;
      display: block;
      text-decoration: none; }
    #column-1 ul#survey_menu a:link, #column-1 ul#survey_menu a:visited {
      background-color: #80dfff;
      color: #00394d; }
    #column-1 ul#survey_menu a:hover {
      background-color: #00394d;
      color: #e6f9ff; }

ul.listing li:before {
  content: "\2666\a0";
  color: black;
  font-size: 12px; }

ul.link li:before {
  content: "\2666\a0";
  color: #00bfff;
  font-size: 12px; }
ul.link a {
  padding-left: 4px; }

#right {
  padding-left: 25px;
  position: relative;
  padding-top: 0;
  overflow-x: hidden; }

#main {
  position: relative; }

div.left {
  position: relative;
  float: left;
  left: 0; }

#wrap_page_links {
  z-index: 1;
  display: block;
  position: relative;
  margin: 2em auto 1em;
  background-color: #e6efff;
  break: left;
  width: 90%;
  padding: 0.1em;
  height: 1.2em; }
  #wrap_page_links #page_links {
    position: relative;
    display: block;
    width: 90%; }
    #wrap_page_links #page_links li {
      display: inline;
      align: center; }

#role_management {
  float: left; }
  #role_management form ul {
    clear: both; }
    #role_management form ul li, #role_management form ul .heading {
      display: inline;
      float: left;
      clear: none; }
    #role_management form ul .heading {
      margin-right: 20px; }

div.wrap_right {
  margin-left: 160px !important;
  width: 80%;
  margin-top: 1em; }
  div.wrap_right ul#list_items li.section {
    background-color: #e6efff;
    font-weight: bold; }
  div.wrap_right ul#list_items li.question {
    padding-left: 2em; }
  div.wrap_right ul#list_items li span.heading {
    float: left; }
  div.wrap_right ul#list_items li ul.question {
    clear: left; }
  div.wrap_right ul#list_items li ul {
    display: block;
    position: relative; }
    div.wrap_right ul#list_items li ul li {
      display: inline;
      clear: none; }
      div.wrap_right ul#list_items li ul li a.edit span, div.wrap_right ul#list_items li ul li a.item_value span {
        display: none; }
      div.wrap_right ul#list_items li ul li a.destroy {
        width: 16px !important;
        height: 16px !important;
        display: inline-block;
        overflow: hidden !important; }
      div.wrap_right ul#list_items li ul li a.edit:before {
        content: url("../images/edit.png"); }
      div.wrap_right ul#list_items li ul li a.item_value:before {
        content: url("../images/list-add.png"); }
      div.wrap_right ul#list_items li ul li a.destroy:before {
        content: url("../images/list-remove.png"); }
