body{
  background-color: red;
}

.pagination a{
  border: 2px black solid;
#  padding: 20px;
  margin: 20px;
  
}

#draggable{
  background-color: white;
}

.pagination{
  background-color: blue;
}
.pagination li{
  background-color: yellow;
  margin: 10px;
}

#list_items{
  background-color: blue;
}

#list_items li{
  background-color: yellow;
  margin: 10px;
}
