<h1>Listing Groups</h1>

<table>
  <tr>
  </tr>
  <%- @groups.each do |group|%>
    <tr>
    
      <td><%=link_to 'Show', object_url(group) %></td>
      <td><%=link_to 'Edit', edit_object_url(group) %></td>
      <td><%=link_to 'Destroy', object_url(group), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br/>

<%= link_to 'New Group', new_object_url %>