
<%= error_messages_for :questionnaire, :object_item_values %>

<% form_for([:research, @questionnaire]) do |f| %>

  <% @research.items.each do |item| %>
    <%= render :partial => "items/#{item.html}", :locals => { :item => item } %>
  <% end %>
  
  <p>
    <%=submit_tag t(:submit)%>
  </p>

<% end %>

<%= link_to t(:survey), research_url(@research.id) %>
