
<%= error_messages_for :questionnaire %>

<% form_for(:questionnaire, :url => object_url, :html => { :method => :put }) do |f| %>
 <%#= #FIXME Instead of @research.items, a loop of pages, each of them keeping a certain number of ordered items %>
 <%= render :partial => "questions", :locals => { :items => @research.items } %>
  <p>
    <%=submit_tag "Update"%>
  </p>
<% end %>



<%= link_to 'Back', collection_url %>
