html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  z-index: 1;
  background-color: #d8ddd7;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Helvetica, Verdana, Arial, Sans-serif;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  padding: 8px 20px; }

h1 {
  font-size: 26px;
  font-weight: bold;
  color: #35346a;
  text-align: center;
  margin: 0 auto;
  position: relative;
  padding-bottom: 5px; }

h2 {
  font-size: 20px;
  font-weight: bold;
  color: #35346a;
  text-align: center;
  margin: 0 auto;
  position: relative; }

form#new_questionnaire div.item {
  position: relative;
  margin: 0 auto;
  text-align: center;
  min-width: 300px;
  float: left;
  clear: both;
  text-align: left;
  width: 96%;
  border-style: solid;
  border-width: 1px;
  border-color: black gray gray black;
  margin: 10px 2px;
  z-index: 6; }
  form#new_questionnaire div.item h2 {
    position: relative;
    margin: 0 auto;
    text-align: center;
    min-width: 300px;
    padding: 10px;
    background-color: #cbcbd0;
    overflow: hidden;
    z-index: 8;
    margin-bottom: 10px; }
  form#new_questionnaire div.item div.item_values {
    margin: 20px 20px 30px 10px; }
  form#new_questionnaire div.item h2.section {
    margin-bottom: 0px;
    color: black;
    background-color: white; }

p.title {
  font-size: 18px;
  font-weigth: bold;
  color: #767679; }

p.intro {
  font-align: justified; }

div.intro {
  margin-top: 1em;
  margin-bottom: 1em; }

div.title {
  font-size: 18px;
  color: #c9c9d0; }

li {
  padding-left: 18px;
  list-style-type: none; }

#page_links li {
  padding-right: 18px;
  margin: 0 18px; }

a:link, a:visited {
  color: #97724a; }

a:hover {
  background-color: #aeaba7;
  color: white; }

a:active {
  font-weigth: bold; }

#frame {
  position: relative;
  margin: 0 auto;
  text-align: center;
  min-width: 300px;
  width: 96%;
  padding: 0 2%;
  background-color: white; }

#header {
  display: block;
  height: 80px;
  margin-bottom: 3px;
  background-color: white;
  padding: 20px;
  clear: both; }
  #header span {
    color: black;
    font-size: 55px;
    float: right; }
  #header span.title {
    font-style: bold;
    font-size: 66px;
    float: left;
    color: #2e535f; }

#all_surveys {
  float: left;
  clear: left;
  display: block;
  text-align: center;
  width: 10em;
  font-size: 18px;
  margin: 0 auto;
  border-width: 2px;
  border-style: solid;
  border-color: #437c3d;
  -moz-border-radius: 3px;
  background-color: #d8ddd7;
  color: #437c3d; }
  #all_surveys a {
    color: #437c3d;
    text-decoration: none; }
  #all_surveys:hover {
    background-color: #437c3d;
    color: #d8ddd7; }
    #all_surveys:hover a {
      background-color: inherit;
      color: #d8ddd7; }

#loginb {
  background-color: lightgray;
  color: #2e535f;
  float: right;
  font-size: 18px;
  border-width: 2px;
  border-style: solid;
  border-color: #2e535f;
  clear: right;
  -moz-border-radius: 3px; }
  #loginb a:link, #loginb a:hover, #loginb a:visited {
    color: #2e535f;
    background-color: inherit;
    text-decoration: none; }
  #loginb ul {
    list-style-type: none; }
    #loginb ul li {
      display: inline;
      padding-left: 0; }
      #loginb ul li:first-child {
        padding-left: 8px; }
      #loginb ul li:after {
        font-decoration: bold;
        padding-left: 5px;
        content: "|"; }
      #loginb ul li:last-child:after {
        padding-right: 5px;
        content: ""; }

#boxes {
  padding-top: 20px; }

#content, #footer {
  margin: 0 auto;
  text-align: left;
  padding: 0;
  z-index: 1;
  margin-bottom: 8px; }

#content {
  margin-top: 34px !important;
  _height: 1%;
  display: block;
  background-color: white;
  padding-bottom: 20px; }
  #content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

#list_items {
  margin-left: 160px !important; }

#column-1 {
  position: relative;
  left: 0px;
  width: 170px;
  height: 100%;
  margin-bottom: 19px;
  float: left;
  font-size: 110%; }
  #column-1 ul#admin_survey_menu {
    list-style-type: none;
    margin-right: 20px;
    border-style: solid;
    border-width: 0px 0px 2px;
    border-color: #696c6d; }
    #column-1 ul#admin_survey_menu li {
      padding-left: 0;
      list-style-position: inside; }
    #column-1 ul#admin_survey_menu a {
      border-style: solid;
      border-width: 2px 2px 0;
      border-color: #696c6d;
      padding: 2px 20px;
      display: block;
      text-decoration: none; }
    #column-1 ul#admin_survey_menu a:link, #column-1 ul#admin_survey_menu a:visited {
      background-color: #c0c5c7;
      color: #2e535f; }
    #column-1 ul#admin_survey_menu a:hover {
      background-color: #2e535f;
      color: #c2c6c7; }

ul.listing li:before {
  content: "\2666\a0";
  color: black;
  font-size: 12px; }

ul.link li:before {
  content: "\2666\a0";
  color: #898e8f;
  font-size: 12px; }
ul.link a {
  padding-left: 4px; }

#right {
  padding-left: 25px;
  position: relative;
  padding-top: 0;
  overflow-x: hidden; }

#main {
  position: relative; }

div.submit {
  width: 40%;
  clear: both;
  position: relative;
  margin: 0 auto;
  text-align: center;
  min-width: 300px;
  padding: 5px 10px;
  background-color: #d6ddd5; }
  div.submit p {
    display: inline;
    margin: 3px; }

form#new_questionnaire + a {
  font-size: 110%; }
  form#new_questionnaire + a:hover {
    background-color: #f2eee9;
    color: #97724a; }

div.left {
  position: relative;
  float: left;
  left: 0; }

ul#page_links li {
  float: left;
  clear: left; }

ul#list_items li {
  float: left;
  clear: left; }
  ul#list_items li ul.question {
    clear: left; }
  ul#list_items li ul {
    display: block;
    float: right;
    clear: both; }
    ul#list_items li ul li {
      display: inline;
      float: left;
      clear: none; }
      ul#list_items li ul li a.edit span, ul#list_items li ul li a.item_value span {
        display: none; }
      ul#list_items li ul li a.destroy {
        width: 16px !important;
        height: 16px !important;
        display: block;
        float: left;
        overflow: hidden !important; }
      ul#list_items li ul li a.edit:before {
        content: url("../images/edit.png"); }
      ul#list_items li ul li a.item_value:before {
        content: url("../images/list-add.png"); }
      ul#list_items li ul li a.destroy:before {
        content: url("../images/list-remove.png"); }
