<h2><%= item.info %></h2>

<% if flash[:answers][item.id.to_s] %>
   <% flash[:answers][item.id.to_s] %>
  <%= select_tag "object_item_values[#{item.id}]", options_from_collection_for_select(item.item_values, "id", "info",                          flash[:answers][item.id.to_s].collect!{|id| id.to_i}), :multiple => true %>
<% else %>
  <%= select_tag "object_item_values[#{item.id}]", options_from_collection_for_select(item.item_values, "id", "info"),                         :multiple => true %>
<% end %>

