 <!-- list of item_values related to items chosen in drop down menu -->
   <ul id="item_values">
     <% ivalues.each do |ivalue| %>
       <li>
         <%= ivalue.info %>
       </li>
     <% end %>
   </ul>

