<% unless @research.is_active %>
  <ul>
    <li> <%= link_to t(:add_question), new_survey_research_item_path(@research, :item_type => "question") %> </li>
    <li> <%= link_to t(:add_section), new_survey_research_item_path(@research, :item_type => "section") %> </li>
  </ul>
<% end %>
