<div class="content">
  <p class="title"><%=  t(:items) %></p>

  <div class="wrap_right">
    <%= render :partial => 'survey/items/list_items' %>

    <div id="wrap_page_links"><%= render :partial => 'survey/items/page_links' %></div>
  </div>
</div>
