<%= title t(:listing_surveys) %>

<ul class="listing link">
  <% @surveys.each do |survey| %>
    <li> 
      <%= link_to survey.title, :action => 'show', :id => survey.id %> 
    </li>
  <% end %>
</ul>

