<h1><%= title t(:listing_researches) %></h1>

<ul class="listing link">
  <% @researches.each do |research| %>
    <li> 
      <%= link_to research.title, :action => 'show', :id => research.id %> 
    </li>
  <% end %>
</ul>

