<p>
  <strong><%= t(:info) %> </strong><%=h @item_value.info %>
</p>

<%= link_to t(:edit), edit_object_url %>
|
<%= link_to t(:back), admin_research_item_item_values_url(@item.research_id, @item.id) %>
