<%= link_to t('New Research'), new_admin_research_url %>
<br><br>

<%= title t("Listing Researches") %>

<ul>
  <%- @researches.each do |research| %>
    <%= link_to research.title, object_url(research) %>
    <ul>
      <li> <%= link_to t('Edit'), edit_admin_research_url(research) %> </li>
    </ul>
  <% end %>
</ul>

