<%= title t(:research_moderators) %>

<%= render :partial => 'research_options' %>

<% @research.moderators.each do |user| %>
  <%= user.login %>
<% end %>

<ul>
  <li><%= link_to session[:back] %></li>
</ul>
