<%= title t("Research Moderators") %>

<%= render :partial => 'research_options' %>

<ul>
  <li> <%#= link_to t('Add New'), associate_moderator_admin_research_path(@research)%> </li>
</ul>

<% @research.moderators.each do |user| %>
  <%= user.login %>
<% end %>
