<p>
  <strong>Name:</strong><%=h @research.name %>
</p>
<p>
  <strong>Introduction:</strong><%=h @research.introduction %>
</p>

<%= link_to 'Edit', edit_object_url %>
|
<%= link_to 'Back', collection_url %>